.react-duration-control {
    display: inline-block;
}

.react-duration-control > .control-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    border: 1px gray solid;
    border-radius: 3px;
}

.react-duration-control > .control-wrapper > .elements-container {
    display: flex;
    flex-direction: row;
    padding: 0px 5px;
}

.duration-control-unit-input-wrapper {
    display: flex;
}

.spinner-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16px;
    padding: 0px 2px;
}

.spinner-button-container > .spinner-button {
    cursor: pointer;
    padding: 0px;
    line-height: 50%;
}