.react-duration-control {
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.react-duration-control.disabled {
    background-color: rgb(240, 240, 240);
}

.react-duration-control > .control-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
    height: 21px;
    padding: 5px;
    border: 1px rgb(120, 120, 120) solid;
    border-radius: 3px;
}

.react-duration-control.disabled > .control-wrapper {
    border: 1px rgb(160, 160, 160) solid;
}

.react-duration-control > .control-wrapper > .elements-container {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    padding: 0px 6px;
}

.react-duration-control.disabled > .control-wrapper > .elements-container {
    opacity: 0.7;
}

.duration-control-unit-input-wrapper {
    display: flex;
}

.duration-control-unit-input:focus {
    outline-width: 0;
}

.duration-control-unit-text {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.duration-control-inline-text {
    display: inline-flex;
    align-items: center;
    white-space: pre;
    font-weight: 300;
}

.spinner-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    margin: 0px 2px;
    border-radius: 3px;
}

.spinner-button-container > .spinner-button {
    flex-grow: 1;
    cursor: pointer;
    padding: 0px;
    line-height: 50%;
    margin: 0;
    border: 1px rgb(160, 160, 160) solid;
}

.spinner-button-container > .spinner-button-up {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.spinner-button-container > .spinner-button-down {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
}
